source https://www.nuget.org/api/v2
nuget FSCheck
nuget FsCheck.Nunit
nuget FSharp.Charting
nuget FSharp.Data
nuget FSUnit
nuget NUnit

group Tests
source https://www.nuget.org/api/v2

nuget fscheck
nuget NUnit